<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /PHP-work/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /PHP-work/wordpress/index.php [L]
</IfModule>


